/* Smaller navigation top padding */
.navigation {
    padding-top: 1rem;
}

/* Allow link wrapping */
.page-content a {
    white-space: unset
}

/* Properly align definition lists (#1) */
.page-content dl {
	display: unset;
	grid-template-columns: unset
}
.page-content dt {
	text-align: unset
}
.page-content dt::after {
	content: unset
}
.page-content dd {
	margin-left: 3em;
}
